

.ModalContenedor {
  width: 376px !;
  height:234px !;
  border-radius: 5px !important;
  padding:20px !important;
  

}

.titulo{
  
}
.fecha{
  width: 307px;
  margin-top: 10px;
  margin-bottom: 15px;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 367px;
    height: 2px;
    color: rgb(217 225 233);
    border-style: 1px;
    align-items: center;
    
}
.Descripcion{
  width: 350px;
  margin-bottom: 20px;
  margin-top: 15px;
  font-size: 15px; 
}
.line{
    width:51px;
    height:2px;
    background: var(--cian);
    margin-top: 8px;
    margin-bottom: 25px;
    margin-left: 0px;
}